{% extends 'base.html.twig' %}

{% block title %}Ajouter une tâche{% endblock %}

{% block body %}
<article>
    <header>
        <h1>Ajouter une tâche</h1>
        <p>Remplis le formulaire ci-dessous.</p>
    </header>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {{ form_row(form.expiredAt) }}
        {{ form_row(form.status) }}

        <button type="submit">Enregistrer</button>
        <a href="{{ path('task_index') }}" role="button" class="secondary">
            Annuler
        </a>
    {{ form_end(form) }}
</article>
{% endblock %}
